{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "MicrosoftAppType": "UserAssignedMSI",
    "MicrosoftAppId": "<uami-client-id>",
    "MicrosoftAppTenantId": "<tenant-id>",

    "FOUNDRY_AGENT_RESPONSES_URL": "https://cog-nw4gunns5btr2.services.ai.azure.com/api/projects/care-agent-dev/agents/care-agent/endpoint/protocols/openai/responses?api-version=v1",
    "FOUNDRY_MI_CLIENT_ID": "<uami-client-id>",

    "SESSION_MAP_TABLE": "sessionmap"
  }
}
